<div class="main-content">

    <app-base-card id="info" title="Information" description="Create your own game. Once you click start, you will be given a Game-ID. <br> Provide this to your players and they will be able to join.">
        <button class="spanned_button large" id="submit" (click)="submitGame()" [disabled]="!button_enable? true : null"><span>Create Game </span></button>
    </app-base-card>

    <app-my-profile id="profile" [(player_settings)]="player_settings" (player_settingsChange)="checkValues()"></app-my-profile>

    <app-base-card id="game" title="Game Settings" description="No game settings are available at this point.">
    </app-base-card>

    <app-base-card id="projector" title="Projector" description="If you are participating in the game, choose to open a second window do display game stats on the big screen." [class]="disable_class">
        <div class="row">
            <span class="label">Open Projector View</span><app-pg-toggle [(checked)]="new_game.open_projector" (checkedChange)="checkValues()"></app-pg-toggle>
        </div>
    </app-base-card>
</div>