@import 'src/vars';
.main-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 5vh;

    app-base-component {
        display: flex;
    }

    #info {
        flex-grow: 1;
    }

    #profile {
        flex-grow: 3;
    }

    #game {
        flex-grow: 2;
    }

    #projector {
        flex-grow: 1;
    }
}