<div class="main-content">
    <div class="card" id="info">
        <h1 class="title">Information</h1>
        Create your own game. Once you click start, you will be given a Game-ID.<br>Provide this to your players and they will be able to join.
        <button class="spanned_button large" id="submit" (click)="submitGame()" [disabled]="!button_enable? true : null"><span>Create Game </span></button>
    </div>
    <div class="card" id="profile">
        <h1 class="title">My Profile</h1>
        <div class="settings">
            <div class="row">
                <span class="label">I would like to participate? </span><app-pg-toggle [default]="true" [(checked)]="player_settings.player_is_participating" (checkedChange)="checkValues()"></app-pg-toggle>
            </div>
            <div class="row"><span class="label">Nickname: </span><app-nickname-input (textChange)="player_settings.player_nickname = $event.text; player_settings.nickname_valid = $event.valid; checkValues() "></app-nickname-input></div>
        </div>
    </div>
    <div class="card" id="game">
        <h1 class="title">Game Settings</h1>
        No game settings are available at this point.
    </div>
    <div class="card" id="projector">
        <h1 class="title">Projector</h1>
        If you are participating in the game, choose to open a second window do display game stats on the big screen.
        <div class="settings">
            <div class="row">
                <span class="label">Open Projector View</span><app-pg-toggle [(checked)]="new_game.open_projector" (checkedChange)="checkValues()"></app-pg-toggle>
            </div>
        </div>
    </div>
</div>