/* Grey page banner */
.banner{
    display: flex;
    background-color: #474e5d;
    padding: 5%;

    @media screen and (max-width: 600px)
    {
        flex-direction: column;
    }

    .banner_image {
        margin-left: auto;

        @media screen and (max-width: 600px)
        {
            order: -1;
            margin: auto;
        }
    }

    .banner_text {
        font-family: sans-serif;
        text-align: center;
        h1,p {
            margin: 0;
        }

        h1 {
            font-size: 400%;
        }
        
    }

    table {
        text-align: left;
        display: inline-table;
    }
}

#news_section
{
    display: flex;
    @media screen and (max-width: 600px) {
        flex-direction: column;
    }
}

.news_container {
    flex: 1 1 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    margin: 1vh;
    text-align: center;
    padding: 1vh;
}