<h3>Keep Ye'r Telescope Sights On The Pirates' Socials</h3>
<br>
<table class="socials_box">
    <tr>
        <td><a href="https://github.com/A-Level-Personal-Code-Collab/PirateGame"><img class="social_logo" src="assets/img/logos/github.png" alt="GitHub Logo"></a></td><td><p class="social_text">If you too are into software and/or web development then feel free to take a look at the source code for this project on GitHub so you can begin to understand what makes it tick. If you encounter any issues or want to make a suggestion for the future of the game, we'd love to hear it on the <a href="https://github.com/A-Level-Personal-Code-Collab/PirateGame/issues">Issues Page</a>.</p></td>
    </tr>
    <tr>
        <td><a href="https://twitter.com/pirategamelive"><img class="social_logo" src="assets/img/logos/twitter.png" alt="Twitter Logo"></a></td><td><p class="social_text">Follow our twitter page <a href="https://twitter.com/pirategamelive">@pirategamelive</a> for all the latest updates and information about the game and its development. Feel free to tweet us you comments, critique and issues!</p></td>
    </tr>
    <tr>
        <td><a href="https://ko-fi.com/S6S86SB8U"><img class="social_logo" src="assets/img/logos/ko-fi.png" alt="Ko-Fi Logo"></a></td><td><p class="social_text">If you really enjoy playing the pirate game, consider for a moment making a donation to us via Ko-Fi. This project was never made to be a financial endeavour but just a labour of love project and we've been working hard to make developments in between juggling our school work. It does cost us a small amount to host the site so donations are welcome but overall, we're just thrilled to be able to present our hard work to you.</p></td>
    </tr>
</table>
<script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Support us on Ko-fi', '#29abe0', 'S6S86SB8U');kofiwidget2.draw();</script>