/* You can add global styles to this file, and also import other style files */
/* Variables */
:root {
    --button-colour: #ffd900;
    --colour-primary: #ffd900;
    --colour-primary-opacity: #ffd90085;
    --colour-secondary: #474e5d;
    
  }