@import 'src/vars';

input[type=text] {
    width: 100%;
    font-size: 24px;
    padding: 4px;
    background-color: white;
    border-radius: 3px;
    border: rgb(70, 70, 70) solid 1.5px;

    &:focus {
        outline: 4px solid $colour-primary-extra-light;
        border-color: $colour-primary;
        border-style: double;
    }
}

div {
    position: relative;
    display: flex;
    align-items: center;

    span.warn {
        &::before {
            content: "\26A0";
            font-size: 24px;
        }

        position: absolute;
        right: 7px;
        color: $colour-secondary;

        cursor: help;

        &:hover {
            color: red;

            .tooltip_text {
                opacity: 1;
                bottom: 100%;
            }
        }
    }

    .tooltip_text {
        opacity: 0;
        background-color: $colour-secondary;
        color: #fff;
        text-align: center;
        font-size: 14px;

        padding: 5px;
        border-radius: 6px;

        position: absolute;
        bottom: 90%;
        left: 50%;
        transform: translateX(-50%);
        transition-duration: .2s;

        &::after {
            content: " ";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translateX(-50%);

            border-width: 4px;
            border-style: solid;
            border-color: $colour-secondary transparent transparent transparent;

        }
    }
}