#div_currentVersion
{
    border-radius: 4px;
    border-bottom: lightgray solid 2px;
}

#div_versionFlex
{
    display: flex;
}

#img_releaseCelebration
{
    width: 18vw;
    height: 10vw;
}

.release_summery
{
    margin: 0.6vw;
    padding: 0.2vw
}