<div id="patch_notes"> <!-- Patch news -->
    <h3>Version News and [eye] patch notes</h3>
    <br>
    <div id="div_currentVersion">
        <h3>Version {{ currentVersion.title }}</h3>
        <div id="div_versionFlex">
            <img id="img_releaseCelebration" src="assets/img/release-art/generic.png" alt="Logo with party blower">
            <div class="release_summery">{{ currentVersion.overview }}
                <br>Read the release notes in full <a href="patch_notes#{{ currentVersion.version }}">here</a>.
            </div>
        </div>
    </div>
    <p>All patch notes can be viewed <a href="/patch_notes">here</a>.</p>
</div>