@import 'src/vars';

.main-content {
    text-align: center;

    margin: 2%;

}

.cards_centre {
    display: inline-flex;
    flex-direction: column;
}


.settings {
    $row_height: 32px;

    .row {
        display: flex;
        align-items: center;
        margin: 14px;

        @media screen and (max-width: $mobile-breakpoint) {
            flex-direction: column;
            text-align: center;
        }
        
    }

    .label {
        margin-right: 15px;
        line-height: $row_height;
    }

}